* {
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". info ." ". piano .";
}

#info {
  grid-area: info;
  height: 250px;
}

#piano {
  grid-area: piano;
}

#ivories {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 50vw;
  z-index: 1
}

#ebonies {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 44vw;
  position: relative;
  top: -324px;
  left: 60px;
  z-index: 2;
}

.key {
  border: .2em solid black;
}

.key:hover {
  background-color: pink;
}

.key:active {
  border: .1em solid black;
}

.ivory {
  height: 16em;
  width: 1fr;
}

.ebony {
  background-color: black;
  height: 10em;
  width: 50px;
}

.hidden {
  visibility: hidden;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: gold;
}